# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CSV and dataset files
*.csv

# Power BI files
*.pbix

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Reports and images
*.pdf
*.png
